header {
  display: flex;
  align-items: center;
  height: 32px;
  background-color: bisque;
  padding: 1rem;
}

main {
  height: calc(100vh - 32px);
  background-color: aquamarine;

  div {
    padding: 1rem;
    display: flex;
  }
}
